@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Righteous&display=swap');
body {
    width : 100vw;
    height : 100vh;
    margin : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:active{
    color : darkslategrey;
}

a, a:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.nav_bar {
    width : 100%;
    height : 50px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:7px solid black;
    /* -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black; */
}

.jeman {
    margin-left: 20px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px black;   
    color:orangered;
}

.jeman a, .name_descrip {
    color:orangered;
}

.all_ex_jeman{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 330px;
    margin-right: 20px;
    font-family: "M PLUS Code Latin", monospace;
}

.me {
    margin : 70px auto 70px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orangered;
}

.descrip {
    margin: 70px auto 70px auto;
    width : 70%;
    font-family: "M PLUS Code Latin", monospace;
    font-size: large;
}

.skill_set_1 {
    font-family: "M PLUS Code Latin", monospace;
    font-size: large;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
    min-width: 400px;
    width : 50%;
    margin : 50px;
    border-width: 1px;
    border-color:black;
    border-style: solid;
}

.edu_img_1{
    background-image: url('front-end-developer.jpg');
    background-size: contain;
    width:40%;
    height:150px;
}

.edu_abt_1{
    margin-left: 50px;
    width:58%;
}


.skill_set_2 {
    font-family: "M PLUS Code Latin", monospace;
    font-size: large;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
    min-width: 400px;
    width : 50%;
    margin : 50px;
    border-width: 1px;
    border-color:black;
    border-style: solid;
}

.edu_img_2{
    background-image: url('edited_be.jpg');
    background-size: contain;
    width:40%;
    height:150px;
}

.edu_abt_2{
    margin-right: 50px;
    width:58%;
}