@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {
  width: 100vw;
  height : 100vh;
  margin: 0;
  font-size: medium;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F0E8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width : 100vw;
  height : 100vh;
  margin: 0;
}

/* Styling the String 'Full Stack Developer' */
.fsd{
  background-color: #89A8B2;
  border-width: 0.5px;
  border-style: solid;
  padding:2px;
}

/* Styling the String "MERN" */
.m,.e,.r,.n{
  background-color: #89A8B2;
  font-weight: bolder;
  padding:2.5px;
}

.m {
  color:rgb(5, 121, 5);
}

.e{
  color:white;
}

.r{
  color:rgb(4, 105, 168);
}

.n{
  color:rgb(1, 131, 12);
}

/* Styling each project */
.project_each{
  position:relative;
  max-width: 500px;
  margin-top : 20px;
}

.project_each .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  width: 100%; /* Full width */
  box-sizing: border-box;
  padding: 10px;
}

.project_each .content h4, .project_each .content p {
  margin-top: 2px;
  margin-bottom : 2px;
}

.home_page{
  margin : 30px; 
}

.top_div legend{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

@media only screen and (max-width:400px) {
  body {
    width: 393px;
  }

  .home_page {
    width : 100%;
  }

  .top_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top_div p{
    width:300px;
    text-align:center;
    line-height: 25px;
  }

  .skill_list {
    width : 300px;
    display: flex;
    flex-wrap:wrap ;
  }

  .skill_list img {
    margin : 15px;
  }

  .portfolio_mern,.links {
    margin: auto;
    width : 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .projects {
    width : 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}