body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home_page{
  width:700px;
}

.top_div{
  width:700px;
  margin-top: 40px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.fsd{
  background-color: yellow;
  border-width: 0.5px;
  border-style: solid;
  padding:2px;
}

.m,.e,.r,.n{
  background-color: rgb(59, 51, 2);
  font-weight: bolder;
}

.m {
  color:green;
}

.e{
  color:white;
}

.r{
  color:lightskyblue;
}

.n{
  color:lightgreen;
}

.top_div p{
  width:400px;
  text-align: right;
  line-height: 25px;
}

.skills{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:700px;
}

.skill_list{
  width:700px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.skills img {
  margin-top: 35px;
}

.portfolio_mern {
  margin-top: 70px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_mern p {
  display: inline-block;
}

.links_div{
  width:90px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project_each{
  position:relative;
  max-width: 600px;
  margin-top : 20px;
}

.project_each .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  box-sizing: border-box;
  padding: 20px;
}

.project_each .content h4, .project_each .content p {
  margin-top: 2px;
  margin-bottom : 2px;
}

@media only screen and (max-width:400px) {
  body {
    width: 393px;
  }

  .home_page {
    width : 100%;
  }

  .top_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top_div p{
    width:300px;
    text-align:center;
    line-height: 25px;
  }

  .skill_list {
    width : 300px;
    display: flex;
    flex-wrap:wrap ;
  }

  .skill_list img {
    margin : 15px;
  }

  .portfolio_mern,.links {
    margin: auto;
    width : 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .projects {
    width : 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}